* {
    margin: 0;
}
body {
    max-width: 910px;
    margin: 0 auto;
  background-color: white;


}
header {
 
    background-color: rgba(128, 128, 128, 0.11);
    padding: 0px;
    overflow: auto;
    width: 900px;
    height: 140px;
    font-family: Chonburi;
    font-size: 120px;
    text-align: right;
    text-indent: 100px;
    color: white;
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px; 
    margin-top: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 900px;
}

li {
    float: right;
    font-family: Quicksand;
    
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
    .plane {
        position: relative;
        background-image: url(img/plane.jpg);
        backgrond-attacment: fixed; 
    }
        
    display: flex;
    font-family: Quicksand;    
    margin-left: 0px; 
    margin-right: 0px; 
    margin-top: 10px;
    text-align: left;
    font-size: 22px;
    
    }

    figure {
    background-image: url(image/plane.jpg);
    height: 150px;
    width: 150px;
    text-align: right;
    font-family: Quicksand;
    list-style-type: inline-block;
}

 .box1   { 
     display: inline-block;
margin: 20px 40px 20px 40px;
          position: static;
          
 }

  .box2 { display: inline-block;
margin: 20px 40px 20px 0px;
      position: static;
  }
  
  


    h1 {
        background-color: rgba(128, 128, 128, 0.11);
        font-style: white;
        font-size: 40px;
        color: white;
}
   
footer {
    background-color: rgba(128, 128, 128, 0.11)
    height: 100px;
    font-family: Quicksand;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 10px 20px;

}
    
    
