 
 body {
    max-width: 910px;
    margin: 0 auto;
  background-color: white;
}
header {
    background-color: rgba(128, 128, 128, 0.11);
    color: white;
    font-family: Chonburi;
    font-size: 120px;
    text-align: right;
    text-indent: 100px;
}
h1{
     background-color: rgba(128, 128, 128, 0.11);
    color: white;
    font-family: Chonburi;
     text-align: justify;
     width: 910px;
}
div {
    display: inline-table;
    list-style-type: inline-block;
    position: static;
    }
    div.container-fluid {
    width: 650px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
figure {
    display: inline-block;
    display: inline-table;
    width: 910px;
}
img { margin-left: 0px;}
a {
    display: inline-block;
    position: static;
}
